@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.eot");
  src: url("../fonts/HelveticaNeue-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeue-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  color: #333333;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #ffffff;
}

input {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
}

hr {
  opacity: 0.4;
}

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

/* header */
.header {
  padding: 25px 0 80px;
  background-image: url("../images/bg_layer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #e8e8e8;
  font-weight: bold;
  filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.3));
  float: left;
  width: 100%;
}

.header .container {
  position: relative;
}

.logo {
  width: 140px;
  height: 40px;
  object-fit: cover;
  float: left;
}

.logo__img {
  width: 100%;
  height: 100%;
}

.nav {
  float: left;
  margin: 5px 0 0 140px;
}

.nav__item {
  float: left;
  line-height: 25px;
  border-right: 1px solid #ffffff1c;
  position: relative;
  transition: all 0.5s;
}

.nav__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.active__bg {
  visibility: hidden;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.25));
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #2f2f2f;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
}

.nav__link.active ~ .active__bg {
  visibility: visible;
}

.nav__item:hover .active__bg {
  visibility: visible;
}

.sub__menu {
  visibility: hidden;
  position: absolute;
  width: 130%;
  background-color: #ececec;
  color: #000;
  border-radius: 10px;
  padding: 5px;
  top: 35px;
  left: -10px;
}

.sub__menu li {
  margin-top: 10px;
}

.sub__menu::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ececec transparent;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
}

.nav__item:hover .nav__link ~ .sub__menu {
  visibility: visible;
}

.search {
  float: right;
  position: relative;
  margin: 5px 0 0 15px;
}

.search__icon {
  position: absolute;
  z-index: 1;
  margin: 8px;
}

.search input {
  width: 150px;
  height: 25px;
  border-radius: 12px;
  filter: drop-shadow(0px 1px 0px rgba(46, 46, 46, 0.6));
  box-shadow: inset 0px 1px 1.5px rgba(0, 0, 0, 0.3);
  background-color: #2f2f2f;
  padding: 5px 25px;
  color: #ffffff;
}

.slider {
  float: left;
  width: 100%;
}

.slider__left {
  float: left;
  width: calc(380 / 940 * 100%);
  margin: 70px 30px 0 0;
}

.slider__title {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-weight: bold;
}

.slider__desc {
  line-height: 18px;
  color: #ffffff;
  margin-top: 30px;
}

.button {
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  filter: drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.2));
  width: 142px;
  background-image: linear-gradient(0deg, #898989 0%, #a8a8a8 100%);
  padding: 12px 0;
  text-align: center;
  margin-top: 25px;
}

.slider__right {
  margin-top: 35px;
  float: left;
}

.slider__right__img {
  width: 450px;
  height: 335px;
  object-fit: cover;
}
.slider__counters {
  position: absolute;
}

.slider__counters__step {
  float: left;
  width: 23px;
  height: 5px;
  background-color: #888888;
  margin-right: 7px;
}

.slider__counters__step:last-child {
  margin-right: 0;
}

.slider__counters__step.active {
  background-color: #bebebe;
}

.slider__counters {
  right: 0;
  bottom: 0;
}

/* features */
.main {
  float: left;
  width: 100%;
  position: relative;
}

.main__content {
  float: left;
  width: 100%;
  border-top: 4px solid #242424;
}

.features {
  float: left;
  width: 100%;
}

.features .container {
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  margin: auto;
}
.features__item {
  position: relative;
  float: left;
  width: calc(100% / 4 - 15px);
  margin-right: 20px;
  background-color: #ffffff;
  padding: 25px 25px 0 25px;
}

.features__item::before,
.features__item::after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.27);
  border-radius: 50%;
}

.features__item::before {
  top: 15%;
  left: 0;
  width: 5px;
  height: 60%;
}

.features__item::after {
  top: 15%;
  right: 0;
  width: 5px;
  height: 60%;
}

.features__item:last-of-type {
  margin-right: 0;
}

.features__title {
  font-size: 15px;
  color: #171717;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 25px;
}

.features__desc,
.recent_work__desc {
  line-height: 16px;
  color: #333333;
  margin-bottom: 30px;
}

.features__desc:nth-of-type(1),
.recent_work__desc:nth-of-type(1) {
  color: #8e8e8e;
  margin-bottom: 15px;
}

.devider {
  width: 100%;
  height: 5px;
  border-bottom: 5px solid transparent;
  border-image: url("../images/icon/divider.png") 5 round;
  margin-bottom: 15px;
}

.read_more {
  line-height: 16px;
  color: #333333;
  font-weight: bold;
}

/* recent work */
.section {
  padding-top: 340px;
  border-bottom: 4px solid #242424;
}

.section,
.recent_work__top {
  float: left;
  width: 100%;
}

.section .container {
  padding-left: 25px;
}

.recent_work__top {
  margin-top: 80px;
}

.recent_work__counter {
  float: right;
}
.recent_work__title {
  float: left;
  font-size: 15px;
  color: #464646;
  font-weight: bold;
}

.section .devider {
  margin-top: 10px;
  margin-bottom: 35px;
}

.recent_work__bottom-left {
  float: left;
  width: calc(170 / 940 * 100%);
  margin-right: 49px;
}

.recent_work__bottom {
  float: left;
  width: 100%;
  padding-bottom: 50px;
}

.recent_work__gallery {
  float: left;
  width: calc(700 / 915 * 100%);
}

.gallery__item {
  width: 220px;
  height: 200px;
  margin-right: 20px;
  float: left;
  position: relative;
  /* transition: all 0.4s; */
  overflow: hidden;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
}

.gallery__item:nth-child(3n + 3) {
  margin-right: 0;
}

.gallery__item:nth-child(-n + 3) {
  margin-bottom: 20px;
}

.hover__bg {
  position: absolute;
  top: -200px;
  left: 0;
  opacity: 0.749;
  width: 100%;
  height: 100%;
  background-color: #000000;
  /* transition: all 0.4s; */
}

.gallery__img:hover {
  cursor: pointer;
}

.gallery__img:hover ~ .hover__bg {
  top: 0;
}

.bg__layer__icon {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  opacity: 0.4;
  width: 72px;
  height: 72px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.img__action__list {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.img__action__item {
  float: left;
  color: #ffffff;
  font-weight: 500;
  margin-right: 30px;
}

.img__action__item:last-child {
  margin-right: 0;
}

/* footer */
.footer {
  position: relative;
  padding: 40px 0 20px;
  float: left;
  width: 100%;
  background-image: url("../images/bg_layer.png");
}

.footer__block {
  float: left;
  width: calc(100% / 4 - 15px);
  margin-right: 20px;
}

.footer__block:last-child {
  margin-right: 0;
}

.footer__top {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}

.footer__top hr {
  margin-bottom: 25px;
}
.footer__block__title {
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 20px;
}

.about__desc {
  line-height: 14px;
  color: #ffffff;
}

.about__desc:last-child {
  margin-top: 16px;
}

.recent__post__item {
  line-height: 14px;
  color: #ffffff;
  margin-bottom: 16px;
}

.twitter__post__item {
  line-height: 14px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

.special_color {
  color: #999999;
}

.publish__time {
  display: inline-block;
  margin-top: 8px;
}

.widget__item {
  float: left;
  width: 43px;
  height: 43px;
  border: 5px solid #fff;
  background-color: #cccccc;
  margin-right: 15px;
}

.widget__item:nth-of-type(4n + 4) {
  margin-right: 0;
}

.widget__item:nth-of-type(n + 5) {
  margin-top: 10px;
}

.footer__botoom {
  float: left;
  width: 100%;
}

.contact__info {
  border-left: 1px solid #ffffff1c;
  float: left;
  margin-left: 10px;
  padding-left: 15px;
}

.contact__info__title,
.contact__info__item {
  line-height: 14px;
  color: #818181;
}

.contact__info__list {
  margin-top: 5px;
}
.contact__info__item {
  float: left;
  margin-right: 5px;
}

.contact__info__item:last-child {
  margin-right: 0;
}

.contact__info__list {
  margin-right: 265px;
}

.copyright__info {
  line-height: 14px;
  color: #b2b2b2;
  float: left;
}

.copyright__info:last-child {
  margin-top: 5px;
}

.foote__layer {
  float: left;
  opacity: 0.278;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  background-color: #000;
}
