.container {
  max-width: 960px;
}

.container-fluid {
  max-width: 960px;
}

.header {
  &__left__col {
    width: 150px;
  }

  &__right__col {
    width: calc(100% - 150px);
  }

  &__left__block {
    top: 160px;
  }

  &__top {
    .icon {
      display: block;
    }
  }

  .nav {
    display: none;
    height: 100vh;
    width: 100px;
    background-color: $white;
    position: absolute;
    z-index: 3;
    top: -25px;
    left: 0;
    color: #090808;

    &__block {
      flex-direction: column;
      margin-top: 30px;
    }

    &__list{
      margin-left: 20px;
    }
  }
}

.services {
  &__articles {
    width: calc(210 / 960 * 100%);
  }
}

.about {
  &__bg__layer {
    bottom: -3px;
  }

  &__right__side {
    padding: 20px 10px 25px 50px;

    &:hover .about__right__bg__layer {
      transform: rotateY(-10deg);
    }
  }

  &__right__bg__layer {
    height: 335px;
  }

  .section__title {
    margin-bottom: 20px;
  }

  &__left__side {
    perspective: 500px;

    &:hover .about__bg__layer {
      transform: rotateY(8deg);
    }

    &:hover .inner__block {
      transform: rotateY(8deg);
    }
  }
}

.projects {

  .container {
    max-width: 850px;
  }
}

