@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.eot');
    src: url('../fonts/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreatVibes-Regular.woff2') format('woff2'),
        url('../fonts/GreatVibes-Regular.woff') format('woff'),
        url('../fonts/GreatVibes-Regular.ttf') format('truetype'),
        url('../fonts/GreatVibes-Regular.svg#GreatVibes-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #fdfdfd;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #50504f;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.9;
    color: inherit;
}

ul {
    list-style-type: none;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1795px;
    margin: 0 auto;
}

/* header */
.header {
    background-color: #fef4ec;
    padding: 25px 0;
    font-size: 0;
}

.menu_link,
.title,
.nav {
    display: inline-block;
}

.menu_icon {
    width: 40px;
    height: 25px;
    overflow: hidden;
}

.title {
    width: calc(1570 / 1795 * 100%);
    font-size: 35px;
    line-height: 32px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.nav {
    overflow: hidden;
}

.nav__link {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: top;

}

.nav__link-bag {
    width: 30px;
    height: 30px;
    margin-left: 60px;
    margin-right: 50px;

}

.nav__link__icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main section */
.main__section {
    background-image: url('../images/main_bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.inner__container {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}

.main__section-left {
    position: relative;
    display: inline-block;
    margin: 180px 0 173px;
}

.main__section-title {
    font-size: 120px;
    line-height: 116px;
    color: #1b1b1a;
    font-weight: 400;
    font-family: "Great Vibes", sans-serif;
    width: calc(370 / 1128 * 100%);
    margin-bottom: 50px;
}

.main__section-desc {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 80px;
}

.button {
    display: inline-block;
    width: 270px;
    font-size: 17px;
    text-transform: uppercase;
    color: #fefefd;
    font-weight: 700;
    border-radius: 4px;
    background-color: #252525;
    text-align: center;
    padding: 27px 0;
}

.main__section-img {
    display: inline-block;
    width: 765px;
    height: 750px;
    position: absolute;
    background-image: url('../images/main.png');
    background-size: cover;
    background-position: right;
}

/* products */
.our__protuct__title {
    font-size: 40px;
    line-height: 26px;
    text-transform: uppercase;
    color: #232322;
    font-weight: 700;
    text-align: center;
    margin-bottom: 17px;
}

.our__product__desc {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.our__product {
    padding: 100px 0 130px;
}

.product__details {
    display: inline-block;
    width: calc(100% / 4 - 94px);
    margin-right: 30px;
}

.product__details__info {
    border: 0.66px solid #363636;
    padding: 30px 65px 65px 50px;
    text-align: center;
}

.product__title {
    font-size: 17px;
    line-height: 26px;
    color: #1a1c1b;
    font-weight: bold;
    margin-bottom: 10px;
}

.product__desc {
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 35px;
}

.product__img__block {
    width: 165px;
    height: 165px;
    margin: 0 auto;
}

.product__img {
    width: 100%;
    height: 100%;
}

.product__details:nth-last-child(4n + 1) {
    margin-left: 105px;
    margin-bottom: 30px;
}

.price__info {
    background-color: #252525;
    width: 100%;
    font-size: 17px;
    line-height: 19px;
    color: #fefefd;
    font-weight: 400;
    text-align: center;
    padding: 15px 10px;
}

.price__info__item {
    display: inline-block;
}

.add__to__cart {
    border-radius: 18px;
    background-color: #f5ddb6;
    color: #fefefd;
    font-weight: 400;
    text-align: center;
    width: 102px;
    padding: 10px 0;
    margin-right: 10px;
}

.buy__now {
    width: 102px;
    border-radius: 18px;
    background-color: #ffffff;
    font-weight: 400;
    color: #50504f;
    text-align: center;
    padding: 10px 0;
    margin-right: 30px;
}

.our__product .button {
    display: block;
    margin: 50px auto 0;
}

/* about */
.about {
    background-color: #fef4ec;
    padding: 120px 0 100px;
    position: relative;
}

.about__left__side {
    display: inline-block;
    width: calc(570 / 1128 * 100%);
    margin-right: 10px;
}

.about__title {
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 700;
    margin-bottom: 50px;
}

.about__desc {
    font-size: 17px;
    line-height: 30px;
    color: #252525;
    font-weight: 400;
    margin-bottom: 65px;
}

.about__img {
    position: absolute;
    width: 795px;
}

/* customer */
.customers {
    padding: 130px 0;
}

.customers__block__title {
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    color: #2b2b2a;
    font-weight: 700;
    margin-bottom: 55px;
    text-align: center;
}

.custommer__name {
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: left;
    margin-bottom: 40px;
}

.feedback {
    width: 729px;
    height: 68px;
    font-size: 17px;
    line-height: 30px;
    color: #252525;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.costomer__feedback {
    width: calc(1005 / 1128 * 100%);
    border-radius: 10px;
    filter: drop-shadow(0 0 29.5px rgba(30, 30, 29, 0.07));
    background-color: #ffffff;
    margin: 0 auto 40px auto;
    padding: 40px 30px;
}

.customer__img__bg,
.feedback__block {
    display: inline-block;
}

.customer__img__bg {
    width: 190px;
    height: 190px;
    border-radius: 108px;
    background-color: #fef4ec;
    text-align: center;
    padding: 15px 0;
    margin-right: 20px;
}

.customer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback__block {
    width: calc(730 / 1128 * 100%);
    height: 140px;
    overflow: hidden;
}

.pagination {
    text-align: center;
}

.pagination_row {
    display: inline-block;
    width: 82px;
    height: 82px;
    border-radius: 41px;
    filter: drop-shadow(0 0 29.5px rgba(30, 30, 29, 0.16));
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 0;
    margin-bottom: 130px;
}

.in__touch__left,
.in__touch__right {
    display: inline-block;
    /* overflow: hidden; */
}

.in__touch__left {
    width: calc(500 / 1128 * 100%);
    margin-right: 60px;
}

.in__touch__title {
    font-size: 40px;
    line-height: 30px;
    text-transform: uppercase;
    color: #1a1c1b;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: left;
    margin-bottom: 25px;
}

.in__touch__desc {
    width: 523px;
    height: 74px;
    font-size: 17px;
    line-height: 26px;
    color: #252525;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.in__touch__right {
    height: 100px;
    overflow: hidden;
}

.newletter {
    background-color: #fef4ec;
    color: #252525;
    margin-left: 20px;
}

/* map */
.map iframe {
    width: 100%;
    height: 510px;
}

/* footer */
.footer {
    background-color: #252525;
    padding: 135px 0 35px;
}

.contatc__us,
.company__info,
.best__products {
    display: inline-block;
    overflow: hidden;
}

.contatc__us {
    width: calc(240 / 1128 * 100%);
    height: 345px;
    margin-right: 110px;
    overflow: hidden;
}

.contact__us__title {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fdfafa;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 35px;
}

.contact__us__info {
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-left: 12px;
    margin-bottom: 5px;
}

.contact__info__item {
    margin-bottom: 25px;
}

.footer__icon {
    width: 15px;
    overflow: hidden;
}

.company__info {
    width: calc(475 / 1128 * 100%);
    padding-top: 5px;
    /* height: 375px; */
    text-align: center;
    margin-right: 100px;
}

.company__info__title {
    font-size: 50px;
    line-height: 32px;
    text-transform: uppercase;
    color: #e0e0e0;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
}

.company__info__desc {
    font-size: 17px;
    line-height: 25px;
    color: #cbcbcb;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 50px;
}

.best__products {
    height: 345px;
}

.best__product__title {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #fefefd;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-bottom: 24px;
}

.footer__products__item {
    font-size: 17px;
    line-height: 26px;
    color: #cbcbcb;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.social__connects,
.social__item {
    display: inline-block;
}

.social__connects {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f5ddb6;
    padding-bottom: 45px;
}

.social__item {
    margin-right: 25px;
}

.social__item:last-child {
    margin-right: 0;
}

.copiright {
    font-size: 16px;
    line-height: 32px;
    color: #fefefd;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
}