* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 0.7;
}

ul {
    list-style-type: none;
}

.container {
    width: 1110px;
    margin: 50px auto;
}

table,
.table,
.table__head,
.pagination {
    width: 100%;
}

.table__head {
    background-color: #3f587d;
    color: #fff;
    padding: 15px 30px;
}

.table__title {
    font-size: 25px;
}

.text__bold {
    font-weight: bold;
}

.table__title,
.action,
.icon,
.delete,
.create {
    display: inline-block;
}

.action {
    width: calc(890 / 1110 * 100%);
    text-align: right;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.action__text {
    overflow: hidden;
    line-height: 20px;
}

.delete .icon {
    color: #f60040;
}

.create .icon {
    color: #00ba48;
}

.delete {
    width: 90px;
    background-color: #f60040;
    text-align: center;
    padding: 10px 0;
    margin-right: 10px;
}

.create {
    width: 170px;
    background-color: #00ba48;
    text-align: center;
    padding: 10px 0;
}

.table {
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
    padding: 10px 25px 30px;
}

table {
    text-align: left;
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid rgba(169, 169, 169, 0.422);
    border-bottom: 2px solid rgba(169, 169, 169, 0.422);
}

tr th,
tr td {
    padding: 15px 0 15px 30px;
    border-top: 1px solid rgba(169, 169, 169, 0.422);
}

tbody tr:nth-child(odd) {
    background-color: #fcfcfc;
}

tr th:first-child,
tr td:first-child {
    padding: 0;
    width: 50px;
    text-align: center;
}

.fa-pen {
    color: #ffce1c;
    margin-right: 20px;
}

.fa-trash {
    color: #ff0645;
}

.pagination,
.show {
    overflow: hidden;
    color: #0000009e;
}

.show,
.pages,
.page__number {
    display: inline-block;
}

.show {
    line-height: 30px;
}

.pages {
    width: 878px;
    text-align: right;
    overflow: hidden;
}

.pages a {
    color: #0000009e;
}

.page__number__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 0;
}

.page__number__link:hover {
    background-color: #009ff4;
    color: #fff;
}

.page__number.active {
    background-color: #009ff4;
}

.page__number.active a {
    color: #fff;
}