* {
    box-sizing: border-box;
}

table {
    margin: 100px auto;
    width: 80%;
    color: white;
}

thead {
    background-color: #e8e8e8;
    color: black;
}

tbody p {
    margin: 0;
}

th,
td {
    height: 40px;
    width: 155px;
}

td {
    padding: 10px 20px 30px;

    background-color: red;
}

/* border */

tr td:first-child {
    background-color: #0495cd;
    border-right: 5px solid white;
}

tr:first-child td:nth-child(2) {
    border-left: 5px solid white;
}

tr:nth-child(n+2) td:first-child {
    border-right: unset;
    border-left: 5px solid white;
}

tr:nth-child(n+2) td {
    border-top: 10px solid white;
}

/* color */

/* 1st row */
tr:first-child td {
    background-color: #0495cd;
}

tr:first-child td:nth-last-child(-n+2) {
    background-color: #80d420;
}

/* 2nd row */
tr:nth-child(2) td:first-child {
    background-color: #f30981;
}

tr:nth-child(2) td:nth-child(-4n+2),
tr:nth-child(2) td:nth-child(4n+4) {
    background-color: #e70166;
}

tr:nth-child(2) td:nth-last-child(-4n+2),
tr:nth-child(2) td:nth-last-child(-4n+4) {
    background-color: #18c6b1;
}

tr:nth-child(2) td:last-child {
    background-color: #f65d02;
}

/* 3rd row */
tr:nth-child(3) td:first-child,
tr:nth-child(3) td:nth-child(n+3) {
    background-color: #80d420;
}

tr:nth-child(3) td:nth-child(2) {
    background-color: #e70166;
}

/* 4th row */
tr:nth-child(4) td:nth-child(3n+1) {
    background-color: #18c6b1;
}

tr:nth-child(4) td:nth-child(-2n+2),
tr:nth-child(4) td:nth-child(3n+3) {
    background-color: #0495cd;
}

tr:nth-child(4) td:nth-last-child(-2n+2) {
    background-color: #f65d02;
}