.container {
  max-width: 540px;
}

.container-fluid {
  max-width: 540px;
}

.about {
  &__right__side {
    width: 100%;
  }

  &__left__side {
    width: 80%;
  }

  &__bg__layer {
    width: 80%;
    bottom: 55px;
  }
}

.concept {
  .row {
    flex-wrap: wrap;
  }

  &_articles {
    width: 100%;

    &:nth-child(n + 2) {
      margin-top: 25px;
    }
  }
}

.projects {
  .container {
    max-width: 375px;
  }
}

.contact {
  .row {
    flex-wrap: wrap-reverse;
    gap: 25px;
  }

  iframe {
    width: 100%;
  }

  &__form {
    width: 100%;
  }
}

.footer {

  &__item {

    &:first-child &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
    }

    .footer__nav__item:first-child,
    .footer__title {
      font-size: 20px;
    }
  }

  .subscribe {
    width: 100%;
  }
}


