.nav {
  &__block {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $mainColor;
    font-size: 22px;
  }
}