*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
}

td{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}

div span,
div p{
    display: block;
    background: #000;
    width: 100px;
    height: 25px;
    margin: 5px;
}

div span:nth-of-type(2){
    background: red;
}

/*td:nth-child(odd){*/
/*    background: #000;*/
/*}*/
/*tr:nth-child(even) td:nth-child(odd){
    background: #000;
}

tr:nth-child(odd) td:nth-child(even) {
    background: #000;
}*/
/*td:nth-child(odd){*/
/*    background: #000;*/
/*}*/

/*tr:nth-child(2n + 1) td:nth-child(2n + 2){*/
/*    background: #000;*/
/*}*/

/*tr:nth-child(2n + 2) td:nth-child(2n + 1) {*/
/*    background: #000;*/
/*}*/


td:nth-child(-n + 6){
    background: #000;
}
