html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 16px;
    color: #171717;
}

a {
    text-decoration-line: none;
    color: inherit;
}

ul {
    list-style: none;
}

address {
    font-style: unset;
}

.wrapper {
    width: 100%;
}

/* header */
.header {
    background-color: #FFFFFF;
    padding: 37px 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.logo,
.nav,
.nav__item {
    display: inline-block
}

.nav {
    width: calc(100% - 31px - 4px);
    text-align: right;
    overflow: hidden;
}

.nav__item {
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-transform: uppercase;
    font-weight: bold;
}

.nav__link.active {
    color: #10C8C2;
}

/* banner section */
.banner {
    background-color: #F6F6F6;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
}

.banner.banner__about {
    padding: 118px 0;
    background-color: #3E3E3E;
}

.banner__title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}

.banner__description {
    font-size: 18px;
    color: #808080;
}

.banner__about .banner__title,
.banner__about .banner__description {
    color: #ffffff;
}

/* image gellary */
.image__gallery {
    font-size: 0;
}

.image__block {
    width: calc(100% / 4);
    height: 300px;
    display: inline-block;
    font-size: 0;
}

.image__gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 0;
}

/* about numbers */
.numbers {
    background-color: #10c9c3;
    padding: 100px 0;
}

.icon {
    width: 40px;
    height: 36px;
    margin-right: 30px;
}

.icon_img {
    width: 100%;
}

.numbers__block,
.icon,
.numbers__info {
    display: inline-block
}

.numbers__info li:first-child {
    margin-bottom: 13px;
}

.numbers__block {
    width: calc(300 / 1170 * 100% - 4px);
}

.numbers__block:last-child {
    width: calc(100% - 3 * (300 / 1170 * 100%));
}

.numbers__item {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

.numbers__item:first-child {
    font-weight: bold;
}

/* about content */
.about__me__block {
    background-color: #f5f5f5;
    font-size: 0;
}

.profile__img,
.about__me {
    width: calc(100% / 2);
    display: inline-block;
    overflow: hidden;
}

.img__about {
    width: 100%;
    height: 570px;
    object-fit: cover;
}

.about__me {
    padding: 140px 140px 140px 85px;
}

.about__title {
    font-size: 30px;
    color: inherit;
    font-weight: bold;
    margin-bottom: 40px;
}

.about__desc {
    font-size: 16px;
    color: #787878;
    margin-bottom: 33px;
}

/* about need project */
.banner.banner__need__project {
    background-color: #fff;
}

.button {
    display: inline-block;
    width: 180px;
    padding: 20px 50px;
    background-color: #10c9c3;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 30px;
    transition: 0.5s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* contact page */
.main.main__about {
    background: #f5f5f5;
}

.contact__info,
.contact__form {
    display: inline-block;
}

.contact__info {
    width: calc(370 / 1170 * 100%);
    padding: 100px 0;
    margin-right: 130px;
    overflow: hidden;
}

.contact__info__title {
    font-size: 30px;
    margin-bottom: 40px;
    color: inherit;
    font-weight: bold;
}

.contact__desc {
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    margin-bottom: 30px;
}

.address,
.address__item {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
}

.address {
    color: #787878;
}

.address__item {
    color: #171717;
    padding-right: 10px;
}

.contact__form {
    width: calc(670 / 1170 * 100% - 4px);
    padding: 100px 0;
}

.row {
    width: 100%;
    margin-bottom: 30px;
}

.row div {
    background: #ffffff;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #787878;
}

.name,
.email {
    display: inline-block;
    width: calc(320 / 670 * 100%);
}

.name {
    margin-right: 25px;
}

.email__comment {
    height: 170px;
}

.button.contact__form-btn {
    margin-top: 5px;
    padding: 20px 34px;
}

.map {
    padding-bottom: 100px;
}

/* footer */
.footer {
    background-color: #141414;
    color: #BCBCBC;
    padding: 100px 0;
}

.footer__part,
.footer__nav,
.menu {
    display: inline-block;
}

.footer__part li {
    margin-bottom: 13px;
}

.footer__part li:last-child {
    margin-bottom: 0;
}

.company__info {
    width: 470px;
}

.company__name {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 25px;
}

.company__info,
.contacts,
.menu,
.social {
    height: calc(285px - 170px);
    overflow: hidden;
}

.contacts,
.footer__nav {
    width: 300px;
}

.footer__nav .left__menu {
    margin-right: 55px;
}