.about {
  padding: 125px 0 150px;
  background-color: #f3f3f3;

  &__right__side {
    width: calc(100% / 2 - 20px);
    height: 335px;
    padding: 60px 10px 75px 60px;
    perspective: 550px;
    position: relative;

    &:hover .about__right__bg__layer {
      right: 20px;
      transform: rotateY(-20deg);
    }
  }

  &__right__bg__layer {
    width: 100%;
    height: 370px;
    filter: drop-shadow(0 0 46px rgba(0, 0, 0, 0.06));
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    transition: 1s;
    z-index: -1
  }

  .section__title {
    @extend %section__title;
    margin-bottom: 35px;
  }

  .about .section__desc {
    @extend %section__desc;
    margin-bottom: 30px;
  }

  .about__btn {
    width: 137px;
    height: 43px;
    border-radius: 6px;
    background-color: #ed1c24;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.4s;
    float: right;
    @include flex();
  }

  &__left__side {
    width: calc(100% / 2 - 20px);
    height: 335px;
    position: relative;
    perspective: 550px;

    &:hover .about__bg__layer {
      transform: rotateY(20deg);
    }

    &:hover .inner__block {
      transform: rotateY(20deg);
    }

    &:hover .circle {
      transform: rotateY(-540deg);
    }
  }

  &__bg__layer {
    background-image: url("#{$path}images/bg/about_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    bottom: -60px;
    left: -17px;
    position: absolute;
    transition: 1s;
  }

  .inner__block {
    transition: 1s;
    position: relative;
  }

  .about__img {
    @extend %img-size;
  }

  .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ed1c24;
    top: -25px;
    left: -25px;
    transition: 0.4s;

    &:nth-child(2) {
      background-color: #ff7004;
      top: unset;
      bottom: -25px;
      left: -25px;
    }

    &:nth-child(3) {
      background-color: #121111;
      top: 0;
      bottom: 0;
      right: -25px;
      left: unset;
      margin: auto 0;
    }
  }
}