.contact {
  background-image: url("#{$path}images/bg/contact_bg.png");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 85px 0 90px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(237, 28, 36, 0.79);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .section__title {
    @extend %section__title;
    color: $white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 65px;
  }

  .row {
    align-items: flex-start;
  }

  iframe {
    width: calc(100% / 2 - 10px);
    height: 370px;
  }

  &__form {
    width: calc(100% / 2 - 10px);
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    textarea {
      width: 100%;
      height: 107px;
      border-radius: 5px;
      background-color: #ffffff;
      resize: none;
      padding: 45px 15px 0;
      outline: unset;

      &::placeholder {
        @include text-style($font-size: 16, $color: #989696);
        line-height: 22px;
      }
    }
  }

  input {
    width: 100%;
    height: 54px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 0;
    outline: unset;
    padding-left: 15px;
  }

  input::placeholder {
    @include text-style($font-size: 16, $color: #989696);
    line-height: 22px;
  }

  button {
    width: 146px;
    height: 60px;
    background-color: transparent;
    border: 2.5px solid #ffffff;
    @include text-style($font-size: 22, $text-transform: uppercase, $font-weight: 700);
    transition: all 0.4s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}