.projects {
  padding-top: 110px;
  text-align: center;

  .section__title {
    @extend %section__title;
    margin-bottom: 10px;
  }

  .section__desc {
    @extend %section__desc;
    margin-bottom: 60px;
  }

  &__img__block {
    width: 375px;
    height: 375px;
    position: relative;

    &:hover .hover__layer{
      @extend %hover_layer;
    }
  }

  &__img {
    @extend %img-size;
  }

  &__img__figure {
    @include text-style($font-size: 20, $text-transform: uppercase, $font-weight: 700, $font-family: 'Open Sans');
  }

  .caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    @include text-style($font-size: 20, $text-transform: uppercase, $font-weight: 700, $font-family: 'Open Sans');
    z-index: 1;
  }

  &__btn {
    @include text-style($font-size: 12, $text-transform: uppercase, $font-family: 'Open Sans');
    width: 165px;
    height: 56px;
    background-color: transparent;
    border: 0.88px solid $white;
    @include flex();
  }

  .hover__layer {
    @extend %layer;
    background-color: rgba(244, 6, 6, 0.79);;
  }

  #project__slide.owl-carousel .owl-nav button.owl-next,
  #project__slide.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    width: 52px;
    height: 51px;
    background-color: #121111;
    color: $white;
  }

  #project__slide.owl-carousel .owl-nav .owl-next {
    right: -110px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  #project__slide.owl-carousel .owl-nav .owl-prev {
    left: -110px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}