* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: #000;
    background: #fff;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background: #ccc;
}

.container {
    width: 100%;
    max-width: 1236px;
    margin: 0 auto;
}

.logo__img {
    height: 60px;
    width: 120px;
    object-fit: cover;

}

.nav__list,
.nav,
.logo {
    display: inline-block;
}

.nav__block {
    list-style-type: none;
}

.log,
.nav {
    line-height: 60px;
    overflow: hidden;
}

.nav {

    text-align: right;

    width: calc(100% - 120px - 4px);
}

.nav__list {
    margin-right: 20px;
}

.nav__list_last {
    margin-right: 0;
}

.nav__link {
    color: #000;
    text-decoration: none;
    padding: 5px;
}

.nav__link.active {
    color: blue;
}

.aside,
.news,
.day__news {
    height: 600px;
    background: #000;
    display: inline-block;
}

.day__news {
    width: calc(603 / 1236 * 100%);
    margin-right: 20px;
}

.news {
    width: calc(295 / 1236 * 100%);
    margin-right: 20px;
}

.aside {
    width: calc(290 / 1236 * 100%);
}

.day__news__article {
    width: calc(50% - 4px);
    height: calc(100% / 4);
    background: orange;
    display: inline-block;
}
.day__news__article_first{
    width: 100%;
    height: calc(100% / 4 * 2);
}

/*

.box{
    width: 100px;
    height: 100px;
    background: #000;
    margin: 10px;
    display: inline-block;
}

p {
    !*font-size: 15px;*!
    color: #0c182f !important;
    background: #000;
    !*width: calc(740 / 900 * 100%);*!
}

p {
    color: orange !important;
}

header {
    background: #ccc;
    padding: 20px;
}

!*a {*!
!*    color: #000;*!
!*    padding: 5px;*!
!*    background: red;*!
!*    margin-right: 15px;*!
!*    text-decoration: none;*!
!*    text-transform: uppercase;*!
!*}*!

.block1 {
    background: green;
    height: 100px;
    width: 50%;
}

.block2 {
    background: blue;
    height: 100px;
    width: 50%;
}

.block3 {
    background: red;
    height: 100px;
    width: 50%;
}

.text__wrapper {
    font-size: 2rem;
}

.text1,
.text2,
.text3,
.text4 {
    font-size: 2rem;
}

.text__wrapper span{
    font-size: 3rem;
}
*/
