.header {

  padding-bottom: 35px;

  .logo__img {
    width: 265px;
    height: 145px;
    margin: 0 auto;
  }

  .logo {
    @extend %img-size;
  }

  .nav {
    &__list {
      width: calc(570 / 1170 * 100%);
      @include flex(center, space-between);
      margin: 60px auto 0;
    }

    &__item {
      @include text-style($font-weight: 300)
    }

    &__link {
      transition: all 0.4s;

      &.active,
      &:hover {
        color: $red;
      }
    }
  }
}