.button {
    width: 100px;
    background-color: burlywood;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 0;
    position: relative;
    font-size: 20px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    padding-bottom: 3px;
    transform: translate(10px, -5px);
}

.button:only-of-type .close {
    display: none
}